sr_gui_bootloader/build/
sr_gui_change_controllers/build/
sr_gui_controller_tuner/build/
sr_gui_grasp_controller/build/
sr_gui_hand_calibration/build/
sr_gui_joint_slider/build/
sr_gui_motor_resetter/build/
sr_gui_movement_recorder/build/
sr_gui_motor_resetter/.cproject
sr_gui_motor_resetter/.project
sr_gui_motor_resetter/.pydevproject
sr_gui_motor_resetter/cmake_install.cmake
sr_gui_self_test/build/
sr_gui_change_controllers/.cproject
sr_gui_change_controllers/.project
sr_gui_change_controllers/.pydevproject
sr_gui_change_controllers/CATKIN_IGNORE
sr_gui_change_controllers/catkin/
sr_gui_change_controllers/catkin_generated/
sr_gui_change_controllers/cmake_install.cmake
sr_gui_change_controllers/devel/
sr_gui_change_controllers/gtest/
sr_gui_controller_tuner/.cproject
sr_gui_controller_tuner/.project
sr_gui_controller_tuner/.pydevproject
sr_gui_controller_tuner/CATKIN_IGNORE
sr_gui_controller_tuner/catkin/
sr_gui_controller_tuner/catkin_generated/
sr_gui_controller_tuner/cmake_install.cmake
sr_gui_controller_tuner/devel/
sr_gui_controller_tuner/gtest/
sr_gui_hand_calibration/.cproject
sr_gui_hand_calibration/.project
sr_gui_hand_calibration/.pydevproject
sr_gui_hand_calibration/CATKIN_IGNORE
sr_gui_hand_calibration/catkin/
sr_gui_hand_calibration/catkin_generated/
sr_gui_hand_calibration/cmake_install.cmake
sr_gui_hand_calibration/devel/
sr_gui_hand_calibration/gtest/
sr_gui_joint_slider/.cproject
sr_gui_joint_slider/.project
sr_gui_joint_slider/.pydevproject
sr_gui_joint_slider/CATKIN_IGNORE
sr_gui_joint_slider/catkin/
sr_gui_joint_slider/catkin_generated/
sr_gui_joint_slider/cmake_install.cmake
sr_gui_joint_slider/devel/
sr_gui_joint_slider/gtest/
*.pyc
*.idea

