<launch>
   <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 world camera_link" />
   <node pkg="rviz" type="rviz" name="rviz"
	args="-d $(find dbot_example)/config/visualization.rviz"/>
   <include file="$(find freenect_launch)/launch/freenect.launch"/>
</launch>

