<launch>
  <!-- Set initial_z of the robot to enable to set it on a table -->
  <!-- Use 0.7621 when scene has table -->
  <arg name="initial_z" default="0.1"/>
  <arg name="visualization" default="true"/>
  <arg name="rviz" default="true"/>

  <!-- urdf to use -->
  <arg name="robot_description" default="$(find sr_box_ur10_moveit_config)/config/ur10_with_box.urdf.xacro" />

  <!-- Load robot and warehouse-->
  <group if="$(arg visualization)">
    <include file="$(find sr_box_ur10_moveit_config)/launch/demo.launch">
      <arg name="db" value="true"/>
      <arg name="initial_z" value="$(arg initial_z)" />
      <arg name="rviz" value="$(arg rviz)"/>
    </include>
  </group>
  <group unless="$(arg visualization)">
    <include file="$(find sr_box_ur10_moveit_config)/launch/default_warehouse_db.launch" />
    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find sr_box_ur10_moveit_config)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
      <arg name="robot_description" value="$(arg robot_description)"/>
      <arg name="initial_z" value="$(arg initial_z)" />
    </include>
  </group>
</launch>