<library path="src">
  <class name="SrGuiDynamicPlotTool" type="sr_gui_dynamic_plot_tool.dynamic_plot_tool.SrGuiDynamicPlotTool" base_class_type="rqt_gui_py::Plugin">
    <description>
      A plugin to easily select which hand's information to plot.
    </description>
    <qtgui>
      <group>
        <label>Shadow Robot</label>
      </group>
      <label>Dynamic Plot Tool</label>
      <icon type="theme">system-help</icon>
      <statustip>A plugin to easily select which hand's information to plot.</statustip>
    </qtgui>
  </class>
</library>
